{% extends "base.html" %}
{% block main_content %}
<header data-role="header" class="header-footer">
    <a data-icon="arrow-l" href="#" data-theme="a" data-rel="back">Back</a>
    <h1><a href="/"><img src="{{ STATIC_URL }}img/Okezone-Logo-Launcher-96x96.png"></a></h1>

</header>
<div role="content" data-dom-cache="true">
    <h1>{{ detail.title }}</h1>
    <div>
        <img src="{{ detail.thumbnail }}" />
        <p id="caption">{{ detail.caption }}</p>
        {{ detail.content|safe }}
    </div>
    <br />
    <div id="reporter">
        {{ detail.reporter }} (<strong>{{ detail.institution }}</strong>)
    </div>
    <div data-role="footer" data-id="foo1" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li>
                <a href="#" class="ui-btn-active ui-state-persist">
                <img src="{{ STATIC_URL }}img/Okezone-Logo-Launcher-96x96.png" width="12" height="12" />
                Facebook</a>
                </li>
                <li><a href="#"><img src="{{ STATIC_URL }}img/Okezone-Logo-Launcher-96x96.png" width="12" height="12" /> Twitter</a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}img/Okezone-Logo-Launcher-96x96.png" width="12" height="12" /> G+</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->
</div>

{% endblock %}
